absl-py
cffi
contourpy
cycler
flatbuffers
fonttools
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
packaging
pillow
pycparser
pygame
pyparsing
python-dateutil
six
sounddevice
